.nav {
  background: $color-black-0;
  display: flex;
  padding: 0.5em 0;

  .wrapper {
    flex-direction: row;
    align-items: center;
    flex: 1;

    @media #{$small-screen} {
      flex-direction: column;
    }
  }

  .logo a {
    font-family: $font-brand;
    font-weight: bold;
    color: $color-primary;
    font-size: 2em;
    text-decoration: none;
    display: inline-block;
    margin: 5px 15px;
  }

  .menu {
    flex: 1;

    ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      padding: 0;
      margin: 0;
    }

    li {
    }

    li a {
      display: inline-block;
      color: $color-primary;
      margin: 0 5px;
      padding: 8px 15px;
      text-decoration: none;
      white-space: nowrap;

      &:hover {
        border-bottom: 1px solid $color-brand;
      }

      &.button {
        background: $color-brand;
        color: $color-black-1;
        border-radius: 5px;

        &:hover {
          border: 0;
        }
      }
    }
  }
}
