$color-brand: #e6b602;
$color-primary: #d8b01a;
$color-secondary: #000;
$color-alternative: #000;
$color-content: #1d2d35;
$color-normal: #1d2d35;
$color-background: #ececec;

$color-white-0: #ffffff;
$color-white-1: #fafafa;
$color-gray-0: #ececec;
$color-gray-1: #dddddd;
$color-gray-2: #c7c7c7;
$color-gray-3: #aaaaaa;
$color-gray-4: #999999;
$color-gray-5: #666666;
$color-black-0: #151617;
$color-black-1: #1e1f21;

$font-brand: 'Signika Negative', serif;
$font-primary: 'Roboto Slab', sans-serif;

$small-screen: 'screen and (max-width: 980px)';
$large-screen: 'screen and (min-width: 1920px)';
