$color-brand: #e6b602;
$color-primary: #cda102;
$color-secondary: #000;
$color-alternative: #000;
$color-content: #1d2d35;
$color-normal: #1d2d35;
$color-background: #ececec;

$color-gray-0: #ffffff;
$color-gray-1: #fafafa;
$color-gray-2: #ececec;
$color-gray-3: #dddddd;
$color-black-0: #151617;
$color-black-1: #1e1f21;

$font-brand: 'Signika Negative', serif;
$font-primary: 'Roboto Slab', 'Noto Sans KR', sans-serif;

$small-screen: 'screen and (max-width: 980px)';
$large-screen: 'screen and (min-width: 1920px)';
