* {
  line-height: 1;
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
  color: #1d2d35;
  font-family: 'Roboto Slab', 'Noto Sans KR', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Signika Negative', sans-serif;
  font-weight: 700;
  line-height: 1.25;
  margin: 0.5em 0 0.125em 0;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

p {
  margin: 0.5em 0;
  font-size: 1.2em;
  line-height: 1.725;
  color: #334046
}

.brand {
  font-weight: bold;
}

.clear {
  clear: both;
}


.wrapper {
  padding: 0 30px;
  margin: 0 auto;
  max-width: 960px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.nav {
  background: #eee;
}

.heading {
  background: #eee;
  padding: 4em 0;
  color: #030620;
}

.heading .wrapper {
  flex-direction: row;
}

.heading h1 {
  margin-top: 0;
  font-size: 8em;
}

.heading .title {
  flex: 1;
}

.heading .logo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 20px 0 20px;
  box-shadow: 0px 5px 25px -10px rgba(0,0,0,0.8);
}

.heading {
}

.content {
}

.content ul {
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  list-style: none;
  margin: 0;
  flex: 1;
  width: 100%;
  min-width: 360px;

  margin: 10px;
  border: 1px solid #f4f4f4;
  border-radius: 20px;
  box-shadow: 0px 5px 24px -15px rgba(0,0,0,0.6);

  background: #f6f6f8;
  transition: all .2s ease-in-out;
}

.card:hover {
  transform: scale(1.02);
  background: #fcfcff;
  box-shadow: 0px 12px 32px -0px rgba(0,0,0,0.2);
}

.card .card-header {
  padding: 20px 30px;
  border-radius: 20px 20px 0 0;
  background: #fff;
  display: flex;
  flex-direction: row;
}

.card .card-header-title {
  flex: 1;
}

.card .card-header-img {
  width: 48px;
  height: 48px;
  margin: 20px 0;
}

.card .card-body {
  padding: 10px 20px 20px 20px;
  border-radius: 0 0 20px 20px;
}

.example .playground{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.playground .CodeMirror {
  padding: 20px;
  border: 1px solid #f1f1f1;
  border-radius: 20px;
  font-size: 1.25em;
  flex: 1;
  min-width: 360px;
  margin: 10px;
  min-height: 120px;
  box-shadow: 0px 5px 24px -15px rgba(0,0,0,0.6) inset;
  resize: none;
}

.CodeMirror-scroll {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow: auto;
}

.footer {
  background: #ddd;
}

.footer .wrapper {
  align-items: center;
}

section {
  padding: 1em 0;
}

section + section {
  padding-bottom: 4em;
}
