<section class="footer">
  <div class="wrapper">
    <div class="copyright">
      <div class="brand">Yorkie</div>
      <p>Copyright © {{ site.time | date: '%Y' }} Yorkie team</p>
    </div>
    <div class="sitemap">
      <div class="category">
        <h4>Documentation</h4>
        <ul>
          <li><a href="/docs/main">About Yorkie</a></li>
          <li><a href="/docs/main/quickstart">Quickstart</a></li>
        </ul>
      </div>
      <div class="category">
        <h4>Channels</h4>
        <ul>
          <li><a href="https://github.com/hackerwins/yorkie">GitHub Project</a></li>
          <li><a href="https://github.com/hackerwins/yorkie/issues">Issues</a></li>
          <li><a href="https://communityinviter.com/apps/dev-yorkie/yorkie-framework">Slack</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
