<meta charset="utf-8">
<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
<title>Yorkie</title>
<meta name="viewport" content="width=device-width, initial-scale=0.8">

<!-- Google fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Signika+Negative:700&display=swap" rel="stylesheet">

<!-- CodeMirror -->
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.51.0/codemirror.min.css" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.51.0/theme/blackboard.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.51.0/theme/monokai.min.css">
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.51.0/codemirror.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.51.0/mode/xml/xml.min.js"></script>

<!-- Quill -->
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="https://cdn.jsdelivr.net/npm/quill-cursors@3.0.0/dist/quill-cursors.js"></script>

<!-- Style -->
<link href="/static/css/main.css" rel="stylesheet">

<!-- Yorkie -->
<script src="/static/js/yorkie.js"></script>

<!-- Google Analytics-->
{% include analytics.html %}
