.docs {
  display: flex;

  @media #{$small-screen} {
    flex-direction: column;
  }

  .docs-menu {
    flex: 1;

    .menu {
      min-width: 160px;
      background: $color-white-3;
      border: 1px solid $color-gray-1;
      border-radius: 4px;
      padding: 0.5em 1em;
      margin: 1em 2em 0 0;

      @media #{$small-screen} {
        margin: 1em 0;
      }
    }

    ul {
      list-style: none;
    }

    li {
      margin: 0;
      a {
        color: $color-black-1;
        display: block;
        padding: 0.25em 0.5em;
      }
    }
    li.active {
      a {
        color: $color-primary;
        background: $color-white-2;
        border: 1px solid $color-gray-1;
        border-radius: 4px;
      }
    }
    li.sub {
      margin-left: 0.5em;
      a {
        font-size: 14px;
      }
    }
  }

  .docs-content {
    flex: 3;
    h1, h2, h3, h4 {
      margin-top: 1em;
      position: relative;

      &:first-child {
        margin-top: 0.5em;
      }

      a.pilcrow {
        left: -2em;
        visibility: hidden;
        position: absolute;
        opacity: 0;
        padding: 0.125em 1em 0.075em 1em;
        font-size: 0.8em;
        transition: all .2s ease-in-out;
      }

      &:hover a.pilcrow {
        visibility: visible;
        opacity: 1.0;
      }
    }

    h2 {
      float: none;
      margin-bottom: 30px;
      padding: 0 0 15px;
      background: transparent;
      border-bottom: 1px solid $color-gray-1;
    }

    p {
      margin: 0.5em 0 1em 0;
    }

    ul {
      margin: 1em 0em 2em 2em;
    }

    em {
      line-height: 1.725;
      display: block;
      padding-left: 1.5em;
      border-left: 4px solid $color-primary;
    }

    div.highlight {
      background: transparent;
    }

    pre {
      background: $color-gray-0;
      padding: 0.5em 0.8em;
      border: 1px solid $color-gray-1;
      border-radius: 4px;
      overflow-x: auto;

      code {
        font-family: $font-monospace;
        font-size: 0.8em;
        line-height: 1.5;
      }
    }

    p code {
      font-family: $font-monospace;
      font-size: 0.8em;
      background: $color-gray-0;
      padding: 0.15em 0.25em;
      margin: 0 0.1em;
      border: 1px solid $color-gray-1;
      border-radius: 2px;
    }

    ul, ol {
      margin-left: 40px;
    }
  }
}
