$color-brand: #e6b602;
$color-primary: #d8b01a;
$color-secondary: #000;
$color-alternative: #000;
$color-content: #1d2d35;
$color-normal: #1d2d35;
$color-background: #ecedf1;

$color-white-0: #ffffff;
$color-white-1: #fafafa;
$color-white-2: #f4f5f6;
$color-white-3: #eff1f3;
$color-gray-0: #e6e8ea;
$color-gray-1: #dadcde;
$color-gray-2: #c3c4c6;
$color-gray-3: #aaabad;
$color-gray-4: #999a9c;
$color-gray-5: #666769;
$color-black-0: #151617;
$color-black-1: #1e1f21;

$font-brand: 'Signika Negative', serif;
$font-primary: 'Roboto Slab', sans-serif;
$font-monospace: 'Roboto Mono', monospace;

$small-screen: 'screen and (max-width: 980px)';
$large-screen: 'screen and (min-width: 1920px)';
