<html>
<head>
  {% include head.html %}
</head>
<body>
  {% include nav.html %}
  <main>
    <section class="content">
      <div class="wrapper">
        <div class="docs">
          <div class="docs-menu">
            <div class="menu">
              <h4>Documentation</h4>
              <hr>
              <ul>
                {% assign pages = site.pages | sort: "order" %}
                {% for p in pages %}
                  {% if p.layout == "docs" %}
                  <li class="{% if p.url == page.url %}active{% endif %}">
                    <a href="{{ p.url }}">{{ p.title }}</a>
                  </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="docs-content">
            {{ content }}
            <p style="text-align: right;">
              <a href="{{ page.github }}{{ page.name }}">Edit this page</a>
            </p>
          </div>
        </div>
      </div>
    </section>
  </main>
  {% include footer.html %}
</body>
<script src="/static/js/docs.js"></script>
</html>
