<html>
<head>
  {% include head.html %}
</head>
<body>
  {% include nav.html %}
  <section class="content">
    <div class="wrapper">
      <div class="docs">
        <div class="docs-menu">
          <ul>
            <li><a href="/docs/master">Yorkie</a></li>
            <li><a href="/docs/master/quickstart">Quickstart</a></li>
          </ul>
        </div>
        <div class="docs-content">
          {{ content }}
        </div>
      </div>
    </div>
  </section>
  {% include footer.html %}
</body>
</html>
