<html>
<head>
  {% include head.html %}
</head>
<body>
  {% include nav.html %}
  <main>
    <section class="content">
      <div class="wrapper">
        <div class="docs">
          <div class="docs-menu">
            <div class="menu">
              <h4>Documentation</h4>
              <hr>
              <ul>
                {% assign sorteds = site.pages | sort: "order" %}
                {% assign groups = sorteds | group_by: "category" %}
                {% for group in groups %}
                  {% assign docs = group.items %}
                  {% for doc in docs %}
                    <li class="{% if doc.url == page.url %}active{% endif %}{% if doc.category != doc.title %} sub{% endif %}">
                      <a href="{{ doc.url }}">{{ doc.title }}</a>
                    </li>
                  {% endfor %}
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="docs-content">
            {{ content }}
            <p style="text-align: right;">
              <a href="{{ page.github }}{{ page.name }}">Edit this page</a>
            </p>
          </div>
        </div>
      </div>
    </section>
  </main>
  {% include footer.html %}
</body>
<script src="/static/js/docs.js"></script>
</html>
